* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#myVideo {
  width: 100%;
}

#navbar {
  background-color: transparent;
  color: white;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 1s ease-in-out;
  font-size: 24px;
  font-family: sans-serif;
  z-index: 999;
}

#navbar.sticky {
  position: fixed;
  background-color: white;
  color: black;
  height: 60px;
}

.content {
  height: 500px;
}
